.div1 {
    animation: animated-text 4s linear 1s 1 normal both,
               animated-cursor 600ms linear infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 700px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(255,255,255);}
    to{border-right-color: transparent;}
  }