$red: #fe4560;
$blue: #98b5cc;

$face: #91d4ff;
$flourish: #fff;
$shadowdots: #040351;
$shadow: #4d8bea;
$shadow2: #cbc7e3;

@font-face {
    font-family: 'Rig Bold Coarse';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldCoarse.otf');
}

@font-face {
    font-family: 'Rig Bold Extrude';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldExtrude.otf');
}

@font-face {
    font-family: 'Rig Bold Shadow';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldShadow.otf');
}

@font-face {
    font-family: 'Rig Bold Face';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldFace.otf');
}

@font-face {
    font-family: 'Rig Bold Inline';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldInline.otf');
}

h1 {
    font-family: 'Rig Bold Face', sans-serif;
    color: #0b4b73;
}

h1::before,
h1::after,
h1 span::before,
h1 span::after {
    content: attr(data-heading);
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    font-weight: normal;
    text-shadow: none;
}

h1::before {
    color: #fff;
    font-family: 'Rig Bold Inline', sans-serif;
}

h1::after {
    font-family: 'Rig Bold Coarse', sans-serif;
    color: #040351;
}

h1 span::before {
    font-family: 'Rig Bold Shadow', sans-serif;
    color: #cbc7e3;
    z-index: -1;
}

h1 span::after {
    font-family: 'Rig Bold Extrude', sans-serif;
    color: #011f4c;
    z-index: -1;
}
