.nav-link {
    position: relative;
    padding-bottom: 5px; 
  }
  
  .nav-link::after {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%; 
    bottom: 0;
    background-color: #ffffff;
    transform: translateX(-50%); 
    transform-origin: center; 
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link:hover::after {
    width: 100%; 
  }
  .nav-link:hover{
    cursor: pointer;
  }
  